In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
df = pd.read_csv('/Users/aoifeduna/AoifeRepo/aoiferepo/Lectures/Unit3/data/housing.csv')
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,PRICE
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [13]:
df.shape
# The size of the data set

(506, 14)

In [3]:
X = df.drop('PRICE', axis=1)
y = df['PRICE']

In [7]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=2020)
# Take 20 percent to use for our test set
# Random state creates the same shuffle in the same order we had before; gives you reproduceable results
# You can also use the 'shuffle' argument

In [8]:
X_train.shape
# This is 80% of the entire data set

(404, 13)

In [10]:
X_test.shape
# The remaining 20% of the data set

(102, 13)

In [14]:
# Basically run through this one more time to create the validation set
# Just re-run it; but you're creating the validation set

X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, shuffle=False, test_size=0.2)
# You can remove the random shuffle
# To create the validation set you do it on X_train and y_train

In [15]:
X_train.shape

(323, 13)

In [17]:
X_val.shape

(81, 13)

In [18]:
pd.get_dummies(X['CHAS'])
# You get every single unique value as 0 and 1
# Get dummies is one way to get this. You 'create dummy variables'
# Heads up! Some numeric variables may actually be categorical. Always think about what the numbers represent.

     0  1
0    1  0
1    1  0
2    1  0
3    1  0
4    1  0
..  .. ..
501  1  0
502  1  0
503  1  0
504  1  0
505  1  0

[506 rows x 2 columns]

In [2]:
from sklearn.model_selection import cross_val_score
# k fold!
from sklearn.linear_model import LinearRegression
lreg = LinearRegression()

scores = cross_val_score(estimator = lreg, X= X_train, y=y_train, cv=10)
# Estimator is your algorithm
# X is your training data in this case
# With Kfold you don't have to explicitly create the validation set
# CV can have a lot of inputs, but you specify your number of folds
# Default is 10

NameError: name 'X_train' is not defined

In [30]:
scores
# This returns your ten different validation scores
# This creates ten different validation sets for us automatically; shows you a broad range of results

array([0.46578532, 0.58875974, 0.82940872, 0.56708582, 0.67360032,
       0.44698163, 0.56732898, 0.73802859, 0.54265386, 0.75783213])