In [11]:
import pandas as pd
import numpy as np

In [12]:
df = pd.read_csv('/Users/aoifeduna/AoifeRepo/aoiferepo/Lectures/Unit3/data/advertising.csv')

In [13]:
df.drop('Unnamed: 0', axis=1, inplace=True)

In [14]:
df.head()

      TV  radio  newspaper  sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9

In [17]:
# Calculating the variance
np.sum((df['TV'] - df['TV'].mean())**2)/(df.shape[0] - 1)

7370.94989321608

In [19]:
df['TV'].var()
# You subtract the number from the average from the column
# Then you square it
# Then you divide it by the number of observations minus 1
# Voila, variance
# Variance can just keep going and going. Unlimited. Grows with the size of the data set.

7370.949893216087

In [ ]:
# Fuck! Lost everything past this point